/* #background {
  position: relative;
  background-image: url('../assets/LandScapeKnight.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
  overflow: auto;
}

:host {
  display: block;
  height: 100vh;
  background: url('../assets/LandScapeKnight.png') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}

ngx-particles {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 300px;
  pointer-events: none;
  z-index: 2;
} */

