  <div class="container">
    <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="text-center">
        
        <fieldset class="border border-3 rounded-4 position-relative p-4 text-white bg-dark bg-opacity-50">
          <legend class="float-none w-auto px-0">
            <h1>Login</h1>
          </legend>
          <form [formGroup]="form" class="d-flex flex-column">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input type="text" matInput formControlName="username">
              <mat-error>Username is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" />
              <button
                mat-icon-button
                matSuffix
                (click)="clickEvent($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide()"
              >
                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error>Password is required</mat-error>
            </mat-form-field>
            <button mat-raised-button (click)="onSubmit()">Login</button>
            <hr>
              <span>You don't have an account? <a routerLink="/signup">Sign up!</a></span>
          </form>
          

          <!-- <p *ngIf="loginFailed" class="text-danger">Invalid  Username or Password</p>
          <form (ngSubmit)="onSubmit()">
            <div class="text-start mt-3">
              <fieldset class="border border-1 rounded p-1 position-relative">
                <legend class="float-none w-auto px-2 fs-5 text-white">Username</legend>
                <input type="text" class="form-control border-0 shadow-none bg-transparent text-white fs-4" required name="username" [(ngModel)]="username">
              </fieldset>
            </div>

            <div class="text-start mt-3">
              <fieldset class="border border-1 rounded p-1 position-relative">
                <legend class="float-none w-auto px-2 fs-5 text-white">Password</legend>
                <input type="password" class="form-control border-0 shadow-none bg-transparent text-white fs-4" required name="password" [(ngModel)]="password">
              </fieldset>
            </div>

            <div class="mt-5">
              <button type="submit" class="rounded-4 bg-dark bg-opacity-50 text-success fs-4 px-3">
                Sign in
              </button>
              <hr>
              <span>You don't have an account? <a routerLink="/signup">Sign up!</a></span>
            </div>
          </form> -->
        </fieldset>
      </div> 
    </div>
  </div>
