<app-background-img>
  <div class="container">
    <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="text-center">

        <fieldset class="border border-3 rounded-4 position-relative p-4 text-white bg-dark bg-opacity-50">

          <legend class="float-none w-auto px-0 text-white">
            <h1>Sign-Up</h1>
          </legend>

          <div class="row text-start my-3">
            <fieldset class="col border border-1 rounded p-1 position-relative mx-2">
              <legend class="float-none w-auto">Username</legend>
              <input type="text" class="text-white form-control bg-transparent rounded shadow-none border-0 fs-5">
            </fieldset>
            <fieldset class="col border border-1 rounded p-1 position-relative mx-2">
              <legend class="float-none w-auto">Email</legend>
              <input type="text" class="text-white form-control bg-transparent rounded shadow-none border-0 fs-5">
            </fieldset>
          </div>

          <div class="row text-start my-3">
            <fieldset class="col border border-1 rounded p-1 position-relative mx-2">
              <legend class="float-none w-auto">Password</legend>
              <input type="password" class="text-white form-control bg-transparent rounded shadow-none border-0 fs-5">
            </fieldset>
            <fieldset class="col border border-1 rounded p-1 position-relative mx-2">
              <legend class="float-none w-auto">Confirm Password</legend>
              <input type="password" class="text-white form-control bg-transparent rounded shadow-none border-0 fs-5">
            </fieldset>
          </div>

          <div class="row text-start my-3">
              <fieldset class="col border border-1 rounded p-1 position-relative mx-2">
                <legend class="float-none w-auto">Date Of Birth</legend>
                <input type="date" class="text-white form-control bg-transparent rounded shadow-none border-0 fs-5">
              </fieldset>            
              <fieldset class="col border border-1 rounded p-1 position-relative mx-2">
                <legend class="float-none w-auto">Phone</legend>
                <input type="text" class="text-white form-control bg-transparent rounded shadow-none border-0 fs-5">
              </fieldset>
          </div>

          <div class="mt-5">
            <button class="rounded-4 bg-dark bg-opacity-50 text-success fs-4 w-25">Sign Up</button>
            <hr>
            <span>You already have an acount? <a routerLink="/login">Login!</a></span>
          </div>
        </fieldset>
      </div>
    </div>
    
  </div>
  
</app-background-img>
