#background {
  position: relative;
  background-image: url('../../../assets/CampfireKnight.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

::ng-deep router-outlet, 
::ng-deep .router-content {
  position: relative;
  z-index: 10; /* make sure dashboard is above */
}

.router-content {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
}

/* :host {
  display: block;
  height: 100vh;
  background: url('../../../assets/CampfireKnight.jpg') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
} */